<script lang="ts" setup>
import { ref } from "vue";
import type feeling from "types/feeling";
const feelings = ref<feeling[]>([
  {
    id: 1,
    name: "Angry",
    img: "feeling_imgs/angry.png",
    active: false,
  },
  {
    id: 2,
    name: "Cute",
    img: "feeling_imgs/cute.png",
    active: false,
  },
  {
    id: 3,
    name: "Excited",
    img: "feeling_imgs/excited.png",
    active: false,
  },
  {
    id: 4,
    name: "Pain",
    img: "feeling_imgs/pain.png",
    active: false,
  },
  {
    id: 5,
    name: "Shocked",
    img: "feeling_imgs/shocked.png",
    active: false,
  },
  {
    id: 6,
    name: "Smile",
    img: "feeling_imgs/smile.png",
    active: true,
  },
]);
const change = (item: { name: string; img: string }) => {
  feelingtext.value = item.name;
  currentImg.value = item.img;
};

const changeColor = (item: { id: number; active: boolean }) => {
  refresh();
  if (item.active === true) {
    item.active = true;
  } else {
    item.active = !item.active;
  }
};

const refresh = () => {
  feelings.value.forEach((item) => (item.active = false));
};

const currentImg = ref("feeling_imgs/smile.png");
const feelingtext = ref("Smile");
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6" class="mt-10">
        <v-img :src="currentImg" width="30vw" />
      </v-col>
      <v-col cols="6">
        <h1 style="text-align: center; margin-top: 10vh; margin-bottom: 10vh">
          {{ feelingtext }}
        </h1>
        <v-row
          v-for="(item, index) of feelings"
          :key="index"
          class="justify-center mb-5"
        >
          <v-btn
            :class="{ 'yellow-btn': item.active, 'white-btn': !item.active }"
            width="30vw"
            height="5vh"
            @click="change(item), changeColor(item)"
            >{{ item.name.toUpperCase() }}</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.white-btn {
  background-color: white;
}

.yellow-btn {
  background-color: yellow;
}
</style>
