<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";

const counterStore = useCounterStore();
</script>
<template>
  <h1>First Component</h1>
  <h1>{{ counterStore.count }}</h1>
  <v-btn @click="counterStore.increment">INCREMENT</v-btn>
</template>
