<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";

const counterStore = useCounterStore();
</script>
<template>
  <h1>Second Component</h1>
  <h1>{{ counterStore.doubleCount }}</h1>
  <v-btn @click="counterStore.decreasement">DECREASE</v-btn>
</template>
